*{
    margin: 0px;
    padding: 0px;
}
.container{
  background: linear-gradient( 135deg, #007991, #78ffd6);
    width: 100%;
    height: 725px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.calculator{
  border: 2px solid black;
  background-color: dimgray;
  padding: 20px;
  border-radius: 25px;
}
.calculator form input{
 height: 60px;
 width: 60px;
 margin: 10px;
 border-radius: 10px;
 font-size: x-large;
border: none;
box-shadow:  -8px -8px 15px rgba( 255,255,255,0.1),5px 5px 15px rgba(0,0,0,0.2);
background: transparent;
 cursor: pointer;
 color: white;
}
form .display{
  display: flex;
  justify-content: flex-end;
  margin: 10px,0px;

}
form .display input{
 text-align: right;
 flex: 1;
  box-shadow: none;
  font-size: 45px;
}

form input.equal{
  width: 135px;
}
